<!DOCTYPE html>
<html lang="<%= config.language %>">
    <head>
        <%- partial('partial/head') %>
    </head>
    <body id="body">
        <div id="主页"></div>
        <%- body %>
        <script type="text/javascript" src="/js/simpleParallax.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <% if (theme.extends.body) for (const i of theme.extends.body){ %>
            <%- i %>
        <% } %>
    </body>
</html>
