<div class="footer">
    <div class="footer-content need-padding">
        <span class="info">Copyright © <%= new Date().getFullYear() %> <%= theme.site.name %> 保留所有权利。</span>
        <% if (theme.site.icp){ %>
            <div class="info-group"><a class="info" href="https://beian.miit.gov.cn/" target="_blank"><%= theme.site.icp %></a><a class="info" href="https://github.com/rootlexblog/Heoweb" target="_blank">主题：HeoWeb</a><a class="info" href="https://github.com/zhheo/HeoWeb">Base on HeoWeb</a></div>
        <% }else { %>
            <div class="info-group"><a class="info" href="https://github.com/rootlexblog/Heoweb" target="_blank">主题：HeoWeb</a><a class="info" href="https://github.com/zhheo/HeoWeb">Base on HeoWeb</a></div>
        <% } %>
    </div>
</div>
